<div class="text-center">
  <h1><%= @film.title %></h1>
  <i><strong>Año : </strong><%= @film.year %></i>
  <br>
  <i><strong>Description : </strong><%= @film.description %></i>
  <br>
  <%= link_to "Regresar a peliculas", films_path, class:"btn btn-primary" %>
</div>